@page "/classinfo/{classid:int}"
@using SPSZDataLayer.GlobalConfig
@using SPSZDomainLayer.Model


<h1>@classRoom.ClassName - @students.Count @GetStudentFormat()</h1>
<table class="table">
    <tr>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th>Průměrná známka</th>
        <th></th>
    </tr>
    @foreach (var student in students)
    {
        <tr>
            <td>@student.Firstname</td>
            <td>@student.Lastname</td>
            <td>4.20</td>
            <td><a href="/classinfo/">Více</a></td>
        </tr>
    }
</table>

@code {

    [ParameterAttribute]
    public int classid { get; set; }
    ClassRoom classRoom { get; set; }
    List<Student> students { get; set; }

    protected override void OnInitialized()
    {
        classRoom = ClassRoom.GetByID(classid);
        students = classRoom.GetStudents();
    }

    string GetStudentFormat()
    {
        if (students.Count == 0)
            return "studentů";
        else if (students.Count == 1)
            return "student";
        else if (students.Count > 1 && students.Count < 5)
            return "studenti";
        else
            return "studentů";

    }


}