@page "/classinfo/{classid:int}"
@using SPSZDataLayer.GlobalConfig
@using SPSZDomainLayer.Model
@using SPSZDomainLayer.Service


<h1>@classRoom.ClassName - @students.Count @GetStudentFormat()</h1>
<table class="table">
    <tr>
        <th>Jméno</th>
        <th>Příjmení</th>
        <th>Průměrná známka</th>
        <th></th>
    </tr>
    @foreach (var student in students)
    {
        <tr>
            <td>@student.Firstname</td>
            <td>@student.Lastname</td>
            <td>
                <a href="@GradeInfoString(student.Id.Value)">@GradeAverageService.GetGradeAverageAll(student.Id.Value).ToString("0.##")</a>
            </td>
            <td><a href="@GradeAddString(student.Id.Value)">Přidat známku</a></td>
        </tr>
    }
</table>

@code {

    [ParameterAttribute]
    public int classid { get; set; }
    ClassRoom classRoom { get; set; }
    List<Student> students { get; set; }
    
    string GradeAddString(int id)
    {
        return "classinfo/"+ classid + "/addgrade/" + id;
    }

    string GradeInfoString(int id)
    {
        return "/gradeinfo/" + id;
    }

    protected override void OnInitialized()
    {
        classRoom = ClassRoom.GetByID(classid);
        students = classRoom.GetStudents();
    }

    string GetStudentFormat()
    {
        if (students.Count == 0)
            return "studentů";
        else if (students.Count == 1)
            return "student";
        else if (students.Count > 1 && students.Count < 5)
            return "studenti";
        else
            return "studentů";

    }


}