@page "/gradeinfo/{studentid:int}"
@using SPSZDataLayer.GlobalConfig
@using SPSZDomainLayer.Mapper
@using SPSZDomainLayer.Model
@using SPSZDomainLayer.TransactionScript


<center>
    <h1>Seznam známek</h1>
</center>
<center>
    <h2>Známky od @student.Firstname @student.Lastname</h2>
</center>
<table class="table">
    <thead>
        <tr>
            <th rowspan="2">Předmět</th>
            <th colspan="10">Váha</th>
        </tr>
        <tr>
            @for (int i = 1; i <= 10; i++)
            {
                <th>@i</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var subject in gradeTs.Subjects)
        {
            <tr>
                <td>@subject.Name</td>
                @for (int i = 1; i <= 10; i++)
                {
                    <td>@for (int j = 0; j < gradeTs.GetBySubjectAndWeight(subject.Id.Value, i).Count; j++)
                        {
                            <a href="@GetGradeLink(gradeTs.GetBySubjectAndWeight(subject.Id.Value, i)[j].Id.Value)">@gradeTs.GetBySubjectAndWeight(subject.Id.Value,
                    i)[j].Value </a>
                            @if (j < gradeTs.GetBySubjectAndWeight(subject.Id.Value, i).Count - 1)
                            {
                                <a>,</a>
                            }
                        }
                    </td>

                }
            </tr>
        }
    </tbody>

</table>
<ExportModal @ref="modal"></ExportModal>
<center>
    <button type="button" class="btn btn-primary" @onclick="() => modal.Open()">Export</button>
</center>


@code {

    ExportModal modal;


    [ParameterAttribute]
    public int studentid { get; set; }
    GradeFilter gradeTs = new GradeFilter();
    Student student;


    protected override void OnInitialized()
    {
        gradeTs.Load(studentid);
        student = Student.GetByID(studentid);
    }
    string GetGradeLink(int id)
    {
        return $"/gradeinfo/{studentid}/detail/{id}";
    }

}