@using SPSZDomainLayer.Service
@using System.Web
@inject IJSRuntime JSRuntime;

<div class="modal @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document" style="max-width: 600px ;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Exportovat známky</h5>
                <button type="button" @onclick="() => Close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <EditForm Model="exportData">
            <div class="modal-body">
                <div class ="form-group">
                    <label for="export">Exportovat známky</label>
                    <InputSelect class ="form-control" id="export" @bind-Value="@exportData.ExportType">
                        <option value="0">CSV</option>
                        <option value="1">Text</option>
                    </InputSelect>
                </div>
                
            <div class ="form-group">
                <label for="preview">Náhled</label>
                <textarea id="preview" class="form-control" rows="10" readonly>@exportData.ExportPreview</textarea>
            </div>
                        </div>
            </EditForm>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Close()">Zrušit</button>
                <button type="button" class="btn btn-primary" @onclick=ShowPreview >Náhled</button>
                @* <button type="button" class="btn btn-primary" @onclick=SaveToFile>Exportovat</button> *@
                <a href="@GetDownloadURL()" class="btn btn-primary" download="@GetFileName()">Exportovat</a>
            </div>
        </div>
    </div>
</div>


@if (ShowBackdrop)
{
    <div class="modal-backdrop fade show"></div>
}


@code {

    [Parameter]
    public int studentId { get; set; }

    class ExportData
    {
        public int ExportType { get; set; } = 0;
        public string ExportPreview { get; set; } = String.Empty;
    }

    ExportData exportData = new ExportData();
    
    void ShowPreview()
    {
        exportData.ExportPreview = exportData.ExportType == 0 ? GradeExportService.ExportToCsv(studentId) : GradeExportService.ExportToTxt(studentId);
    }


    public string GetDownloadURL()
    {
        string export = exportData.ExportType == 0 ? GradeExportService.ExportToCsv(studentId) : GradeExportService.ExportToTxt(studentId);
        string header = "data:" + (exportData.ExportType == 0 ? "text/csv" : "text/plain") + ";charset=utf-8,";
        return header + export;
    }
    public string GetFileName()
    {
        return exportData.ExportType == 0 ? "znamky.csv" : "znamky.txt";
    }









  public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;

    public void Open()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
}